*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    background-color: #34252F;
}

/* this control heaader property */
.headen {
    
    
}
/* this set color in header idk, maybe not important */
#header-bg-color{
    
    height: 50px;
    width: 50%;
}

#Sidee{
    padding-top: 10px;
    padding-left: 30px;
}

/* from this on is a <body> mess */




/* this set introword */
*#introduction{
        /* this is for fade-out animation */
        animation: Sussyline linear forwards;
        animation-timeline: view(100px 100px);
        animation-range: exit ;

    /* background-color: aqua; */
    margin-top: 150px;
    padding-top: 50px;
    padding-left: 70px;
    height: 350px;
    width: 50%;
    float: left;
    

}

.button-page1{

         

    margin-left: 30px;
    margin-top: 40px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color:  #519872;
    border: solid 5px;
    border-color: #e4f1d4;
    transition: transform 0.3s ease 0s;
    
    


}

.button-page1:hover{
    transform: translateY(-10px);
    background-color: #e4f1d4;
    
}

.footer1{
    background-color: #BEC5AD;
    width: 100%;
    
}

#header-bg-color2{

    height: 50px;
    width: 50%;
    transition: hd2tr linear forwards;
    animation-timeline: view();
    animation-range: exit ;


}

@keyframes hd2tr{

    to{
        opacity: 0;
        transform: translateY(-10px);

    }

}


.button-page2{

   
    width: 100px;
    height: 50px;
    background-color: #34252F;
    border: #34252F;
    
    transition: transform 0.3s ease 0s;

}



#Homepagep2{

        
    position: absolute;
    

    right: 170px;
    top: 10px;


}

#leterp2{

    position: absolute;
    right: 30px;
    top: 10px;

}

.button-page2:hover{
    transform: translateY(-10px);
    background-color: #638a34;
    border-radius: 5px;
    
}




.buto{
    font-size: 16px;
    
}










@keyframes Sussyline {
    to {
        top: -50px;
        opacity: 0;
        transform: rotateZ(-15deg);
    }
}

#pictureofahandsomeyoungman{

        /* this is for fade-out animation */
        animation: portrait linear forwards;
        animation-timeline: view();
        animation-range: exit ;

    /* background-color: tomato; */
    height: 630px;
    margin-right: 40px;
    width: 40%;
    float: left;
    position: relative;
    
    margin-top: 30px;

}



#ptb1{
    background-color: #3B5249;
    height: 200px;
    margin-right: 40px;


    width: 200px;
    

    position: absolute;
    top: 50px;
    left: -100px;
    border-radius: 100% ;
    
    
}

#ptb2{
    background-color: #BEC5AD;
    height: 400px;
    width: 400px;
    margin-right: 40px;


    
    

    position: absolute;
    top: 70px;
    left: -100px;
    border-radius: 59% 41% 40% 60% / 72% 47% 53% 28%;
    
    
}



#pt{
    border-radius: 59% 41% 40% 60% / 72% 47% 53% 28%;
    position: relative;
}



@keyframes portrait{
    to{ opacity: 0; scale: 0.7; transform: rotateZ(15deg);}
    
}
/* This animation part are containing an expiremental property "animation-timeline: ; and nanimation-range: ;" 
. this might cause an animation not working properly on older browser. 
but mine work just fine :), and it's relatively easy to learn and understand than that of a java scroll thingy. 
so this animation part is solely for better understanding how animation property and keyframes works,
I learn this one from MR.kevin Powell on his youtube channel "kevin Povell" please sub to him :) */

#video {
    /* this is for fade-in animation */
    
    opacity: 20%;
    animation: video-fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;

    background-color: #3B5249;
    height: 670px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    
    

    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#i {
    position: relative; 
    left: -400px;
    height: 70%;
    padding-top: 5px;
    width: auto; 
    object-fit: cover; 
}



@keyframes video-fade-in{
    to {  opacity: 1; }
}

/* setting a background for displaying video */



#deng{
        opacity: 20%;
        animation: video-fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    border: solid;
    padding: 10px;
    padding-bottom: 30px;
    position: absolute;
    top: 990px;
    left: 500px;
    z-index: 1;
}

.footer1{
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
}

.footer2{
    position: absolute;
    top: 2000px;
    background-color: #e4f1d4;
    width: 100%;
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
}


.myjourney{
    
        
        animation: lostjnr linear forwards;
        animation-timeline: view(10px);
        animation-range: exit;
    background-color: #519872 ;
        width: 70%;
        height: auto;

        margin-left: 15%;
        margin-top: 10%;
        padding: 30px;
        border-radius: 30px;
        margin-top: 50px;

}

@keyframes lostjnr {
    to {
        opacity: 0;
    }
}

#th1{

    
    margin-left: 30px;
    
}

.ingenre2{
    background-color: #519872;
    width: 400px;
    height: auto;
    margin: 30px;
    padding: 50px;
    border-radius: 5px;
   


    
}




#reason-1{
    animation: reason-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    transform: rotateZ(60deg);
    opacity: 0;

    margin-top: 70px;
    position: relative;
    margin-left: 120px;
    


}
#reason-2{

    animation: reason-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    transform: rotateZ(-60deg);
    opacity: 0;

    position: relative;
    float: right;
    top: 30px;
    margin-right: 120px;


    
}
#reason-3{

    animation: reason-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    transform: rotateZ(60deg);
    opacity: 0.5;

    position: relative;
    float: left;
    top: 280px;
    margin-left: 120px;
}
#reason-4{

    animation: reason-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    transform: rotateZ(-60deg);
    opacity: 0.5;

    position: relative;
    float: right;
    margin-top: 330px;
    margin-right: 120px;
    
}
#reason-5{

    animation: reason-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    transform: rotateZ(60deg);
    opacity: 0.5;

    position: relative;
    float: left;
    margin-top: 530px;
    margin-left: 120px;
    
}


@keyframes reason-in{
    to{
        transform: rotateZ(0deg);
        opacity: 1;
        
    }
}

#futuremainparapraph{
    background-color: #519872;
    width: 50%;
    height: auto;
    margin: 30px;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    top: 150px;
    left: 25%;
    right: 25%;

}